# Secrets
.env
.env.local
.env.production.local
.env.development.local

# Test-data
utils/users.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Report
*.html
